$color-main: #0075ff;

@mixin btn-base() {
    padding: 0.25rem 1.5rem;
    border-radius: 0.3rem;
    border: none;
}

@mixin btn-sm-modified() {
    font-size: 0.75rem;
    padding: 0.1rem 1rem;
}

.btn-main {
    @include btn-base();
    background-color: $color-main;
    color: white;
    border: solid 1px $color-main;
    &:hover {
        background-color: white;
        color: $color-main;
    }
    &-sm {
        @extend .btn-main;
        @include btn-sm-modified();
    }
}

.btn-sec {
    @include btn-base();
    background-color: transparent;
    color: black;
    &:hover {
        color: #888;
    }
    &-sm {
        @extend .btn-sec;
        @include btn-sm-modified();
    }
}

.main-menu {
    margin-bottom: 0;
    padding-left: 0;
    li {
        font-size: .8rem;
        list-style: none;
        display: inline;
        margin-right: 1rem;
        a {
            color: black;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.icon-sm {
    i {
        padding: 0;
        margin: 0;
        font-size: 1.25rem;
        border-radius: 50%;
        color: $color-main;
        padding: 0.5rem;
        box-shadow: 0 0 10px #00000040;
    }
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 20rem;
    .icon {
        font-size: 5rem;
        color: $color-main;
    }
    .description {
        text-align: center;
        .title {
            font-size: 1.3rem;
            font-weight: 600;
        }
        .text {
            color: #888;
            font-size: 0.8rem;
            font-weight: 400;
        }
    }
    .cta {
        font-size: 0.8rem;
        text-align: center;
        color: $color-main;
        font-weight: 600;
        // margin-top: 3.5rem;
        padding: 0 0.6rem;
        margin-top: auto;
    }
}

.icon-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .icon {
        color: $color-main;
        font-size: 10rem;
        padding: 0;
    }
    .title {
        margin-top: -2rem;
        font-size: 1.5rem;
        font-weight: 600;
    }
}

